@(seriesList : List[Series], watchedSeriesList : List[Series])

<!DOCTYPE html>

<script language="JavaScript">  
  function setValueRadioNextEpisode(){
	  var radios = document.getElementsByTagName('nextEpisode');
	  var value;
	  if (document.getElementById('byEpisode').checked) {
          // get value, set checked flag or do whatever you need to
          radios.value = document.getElementById('byEpisode').value;       
      }else if(document.getElementById('byLastWatched').checked){
    	  radios.value = document.getElementById('byLastWatched').value;
      }else if(document.getElementById('byThree').checked{
    	  radios.value = document.getElementById('byThree').value;
      }
  }
  </script>
  
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Séries App</title>

        <!-- JQuery -->
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <script type="text/javascript" src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <!-- Mine css-->
        <link rel="stylesheet" href="@routes.Assets.at("css/stylesheet.css")">
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <a class="navbar-brand">Séries App</a>
            </div>
        </nav>

        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            O que é?
                        </div>
                        <div class="panel-body">
                            Séries App é um sistema para você cadastrar o que você assistiu os episódios das suas séries
                            preferidas. Também para saber qual é o próximo episódio que você não assistiu das temporadas
                            de suas séries preferidas.
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            Como usar?
                        </div>
                        <div class="panel-body">
                            Selecione na lista ao lado as séries que você assiste e começe
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="list-group">
                        <a class="list-group-item active">
                            Lista de Séries
                        </a>
                        <div class="scrollable">
                            @for(series <- seriesList){
                                <a class="list-group-item">
                                    <form method="post" action="@routes.Application.watchSeries(series.getId)" class="pull-right">
                                        <button type="submit" class="btn btn-primary btn-xs">
                                            <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span>
                                        </button>
                                    </form>
                                    <h5 data-toggle="collapse" data-target="#series@series.getId">
                                        <strong> @series.getName </strong>
                                    </h5>
                                </a>
                                <div class="collapse" id="series@series.getId">
                                    @for(season <- series.getSeasons){
                                        <a class="list-group-item">
                                            <h5 data-toggle="collapse" data-target="#season@season.getId">
                                                @(season.getNumber)ª Temporada
                                            </h5>
                                        </a>
                                        <div class="collapse" id="season@season.getId">
                                            @for(episode <- season.getEpisodes){
                                                <a class="list-group-item">
                                                    @episode.getNumber - @episode.getName
                                                </a>
                                            }
                                        </div>
                                    }
                                </div>
                            }
                        </div>

                    </div>
                </div>

                <div class="col-md-4">
                    <div class="list-group">
                        <a class="list-group-item active">
                            Séries Assistindo
                        </a>
                        <div class="scrollable">
                        @for(series <- watchedSeriesList){
                        	<a class="list-group-item">
                                <h5 data-toggle="collapse" data-target="#series@series.getId">
                                    <strong> @series.getName </strong>
                                </h5>
                            </a>
                            

						
                            <div class="collapse" id="series@series.getId">
                            @for(season <- series.getSeasons){
                            	@if(season.getNumber == 1){
                            		<form method="post"
							action="@routes.Application.chageNextEpisode(season.getId())"
							style="text-align: left">
							<strong>Próximo episódio: </strong>
							<input type="radio" id="byLastWatched" name="nextEpisode" required="required" value="0" onClick="javascript:setValueRadioNextEpisode()">
							Pelo mais antigo
							<input type="radio" id="byEpisode" name="nextEpisode" required="required" value="1" onClick="javascript:setValueRadioNextEpisode()">
							 Pelo próximo após o último 
							<input type="radio" id="byThree" name="nextEpisode" required="required" value="-1" onClick="javascript:setValueRadioNextEpisode()">
							Não indicar se já assisti mais de 3
							<button type="submit" style="color: white;"
								class="btn btn-success" " id="modificarModus">
								<span aria-hidden="true">&#10004;</span><span
									class="sr-only"></span>
							</button>
                            	</form>
                            	}
                                <a class="list-group-item">
                                    @if(season.getStatus == Season.Status.FULL){
                                        <span class="label label-success pull-right">Completa</span>
                                    }
                                    @if(season.getStatus == Season.Status.INCOMPLETE){
                                        <span class="label label-warning pull-right">Incompleta</span>
                                    }
                                    @if(season.getStatus == Season.Status.NONE){
                                        <span class="label label-danger pull-right">Não Assitida</span>
                                    }
                                    <h5 data-toggle="collapse" data-target="#season@season.getId">
                                        @(season.getNumber)ª Temporada
                                    </h5>
                                </a>
                                @if(season.getStatus == Season.Status.INCOMPLETE){
                                    <a class="list-group-item list-group-item-warning">
                                        Próximo Episódio: @season.nextEpisode().getNumber - @season.nextEpisode().getName
                                    </a>
                                }
                                <div class="collapse" id="season@season.getId">
                                @for(episode <- season.getEpisodes){
                                    @if(episode.isWatched){
                                        <a class="list-group-item list-group-item-success">
                                            @episode.getNumber - @episode.getName
                                        </a>
                                    }else{
                                        <a class="list-group-item list-group-item-danger">
                                            <form method="post" action="@routes.Application.watchEpisode(episode.getId)" class="pull-right">
                                                <button type="submit" class="btn btn-success btn-xs">
                                                    <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
                                                </button>
                                            </form>
                                            @episode.getNumber - @episode.getName
                                        </a>
                                    }
                                }
                                </div>
                            }
                            </div>
                        }
                        </div>

                    </div>
                </div>

            </div>
        </div>


    </body>
</html>

